<app-logout-button></app-logout-button>
<app-panel-menu></app-panel-menu>

<div class="container">

    <div class="card-container">

        <div class="user">

            <div class="user-img"></div>

            <div class="text-user-cont">

                <div class="mr-grid">

                    <div class="col1">

                        <h1>{{user.nickname}}</h1>

                        <ul class="level">
                            <li>Level {{player.level}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="world"></div>

    <div class="container-2"></div>

</div>