<app-logout-button></app-logout-button>
<app-panel-menu></app-panel-menu>

<div class="container">

    <div class="card-container">

        <div class="user">

            <div class="user-img" [ngStyle]="{'background': 'url(/assets/images/playerTypes/' + player.type + '.jpg) no-repeat 0 0 / cover'}"></div>

            <div class="text-user-cont">

                <div class="mr-grid">

                    <div class="col1">

                        <h1>{{user.nickname}}</h1>

                        <ul class="level">
                            <li>Level {{player.level}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="world" [style.background]="'url(/assets/images/planets/' + homePlanet.image + '.png)'"></div>

    <div class="container-2"></div>

</div>