<div class="title">
    <h3>Elige tu personaje</h3>
</div>

<div class="container">

    <div class="commandant">
        <img src="/assets/images/playerTypes/commandant.jpg" alt="Comandante">
        <div class="overlay">
            <div class="text">Comandante</div>
        </div>
    </div>

    <div class="miner">
        <img src="/assets/images/playerTypes/miner.jpg" alt="Especialista en mineria">
        <div class="overlay">
            <div class="text">Especialista en mineria</div>
        </div>
    </div>

    <div class="researcher">
        <img src="/assets/images/playerTypes/researcher.jpg" alt="Científico">
        <div class="overlay">
            <div class="text">Científico</div>
        </div>
    </div>

</div>
